<div class="container">
    
    <div class="row" style="">
        <div class="col-md-3">
            <ul>
                <li style="list-style-type: none;padding: 0 15px;color: #D0D1D5;margin-top: 6px;cursor: pointer;">
                    <div style="padding-left: 6px;">
                        <i class="fa fa-users" aria-hidden="true"></i>
                        <div style="display: inline-block;padding: 10px;font-size: 13px;font-weight: 700;font-family: 'Raleway', sans-serif;">
                            <span>People</span>
                        </div>
                    </div>
                </li>
                <li style="list-style-type: none;border-radius: 41px;padding: 0 15px;color: #FCFCFD;background-color: #75B7E4;box-shadow: 1px 1px 20px -5px rgba(0,0,0,0.5);cursor: pointer;">
                    <div style="padding-left: 6px;">
                        <i class="fa fa-cutlery" aria-hidden="true"></i>
                        <div style="display: inline-block;padding: 10px;font-size: 13px;font-weight: 700;font-family: 'Raleway', sans-serif;">
                            <span>Posts</span>
                        </div>
                    </div>
                </li>
                
                <li style="list-style-type: none;padding: 0 15px;color: #D0D1D5;margin-top: 6px;cursor: pointer;">
                    <div style="padding-left: 6px;">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        <div style="display: inline-block;padding: 10px;font-size: 13px;font-weight: 700;font-family: 'Raleway', sans-serif;">
                            <span>Location</span>
                        </div>
                    </div>
                </li>
                <li style="list-style-type: none;padding: 0 15px;color: #D0D1D5;margin-top: 6px;cursor: pointer;">
                    <div style="padding-left: 6px;">
                        <i class="fa fa-envelope-o" aria-hidden="true"></i>
                        <div style="display: inline-block;padding: 10px;font-size: 13px;font-weight: 700;font-family: 'Raleway', sans-serif;">
                            <span>Inbox</span>
                        </div>
                    </div>
                </li>
                <li style="list-style-type: none;padding: 0 15px;color: #D0D1D5;margin-top: 6px;cursor: pointer;">
                    <div style="padding-left: 6px;">
                         <i class="fa fa-briefcase" aria-hidden="true"></i>
                        <div style="display: inline-block;padding: 10px;font-size: 13px;font-weight: 700;font-family: 'Raleway', sans-serif;">
                            <span>Jobs</span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-md-6">
            <div class="page-heading">
                <div class="row">
                    <% if current_user !=nil%>
                        <%= render 'posts/form', post: @post %>
                    <% end %>
                    <div id="post-list">
                        <% @posts.each do |post| %>
                            <%= render 'posts/post', post: post %>
                        <% end %>    
                    </div>        
                </div>    
            </div>
        </div>
        <div class="col-md-3" style="padding: 0">
            <div style="margin: 0 36px;box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.1);height: 250px;border-radius: 5px;">
                <div style="padding: 24px 0 0 18px;border-radius: 10px;">
                    <div>
                        <span style="font-family: 'Raleway', sans-serif;color: #49505D ">People you may know</span>
                    </div>
                </div>
                <div>
                    <ul>
                        <li>
                            <div>
                                <div>
                                    <span>XXXX</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div>
                                <div>
                                    <span>XXXX</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div  class="container" style="width: 920px!important;text-align: center;" >
        <!-- hide our loading gif image so that we show it when making ajax call via jquery -->

    <%= image_tag "/assets/loading_spinner.gif", style: "display:none;width: 70px;heiht: 70px", class: "loading-gif" %>

    <%= link_to "Load More", root_path, class: "load-more", style: "text-aligh: center;padding-bottom: 70px"%>
</div>